MONGO_URI=mongodb://127.0.0.1:27017/bildyapp
PORT=3000
JWT_SECRET=tu_secreto_aqui
JWT_REFRESH_SECRET=tu_secreto_refresh_aqui
SLACK_WEBHOOK=https://hooks.slack.com/services/XXXX/YYYY/ZZZZ
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
